<div
  class="
    flex justify-between mt-7 text-purple-300 dark:text-purple-400 font-mono
    text-[13px] tracking-[0.12em]
  "
>
  <div class="flex items-center gap-2">
    <span class="uppercase">less</span>

    <span class="inline-grid grid-cols-5 gap-1">
      <% swatches.each do |swatch| %>
        <span class="unit-imperial">
          <%= render(UI::Tooltip::Component.new(text: swatch[:title_imperial])) do %>
            <i
              class="punchcard-cell block h-5 w-5 cursor-help"
              data-l="<%= swatch[:level] %>"
            ></i>
          <% end %>
        </span>

        <span class="unit-metric hidden">
          <%= render(UI::Tooltip::Component.new(text: swatch[:title_metric])) do %>
            <i
              class="punchcard-cell block h-5 w-5 cursor-help"
              data-l="<%= swatch[:level] %>"
            ></i>
          <% end %>
        </span>
      <% end %>
    </span>

    <span class="uppercase">more</span>
  </div>

  <div class="uppercase">
    <% if @updated_at %>
      updated
      <%= render(UI::Time::Component.new(time: @updated_at)) %>
    <% end %>
  </div>
</div>

<% if @competitions.many? %>
  <%= render(OtherCompetitionLinks::Component.new(competitions: @competitions, current_year: @competition.year)) %>
<% end %>
