<% if @trigger_in_content %>
  <%= content %>
<% else %>
  <span class="ui-tooltip inline-block" data-controller="ui--tooltip">
    <span
      data-ui--tooltip-target="trigger"
      data-action="<%= UI::Tooltip::Component::TRIGGER_ACTIONS %>"
      tabindex="0"
      aria-describedby="<%= tooltip_id %>"
      class="
        inline-block rounded focus:outline-none focus-visible:ring-2
        focus-visible:ring-purple-400
      "
    >
      <%= content %>
    </span>

    <%= tooltip_span %>
  </span>
<% end %>
