<% time_zone ||= nil %>

<% if time_zone.present? %>
  <script>
    window.localTimezone = <%= time_zone.to_json %>;
  </script>
<% end %>

<h2 class="text-sm mb-4">
  <span class="opacity-65">Local time zone:</span>
  <span class="localizeTimezone"></span>
</h2>

<h6 class="mt-2 opacity-65 mb-1 text-sm">
  format <code>:convert_time</code>
</h6>

<p id="current-time">
  <span class="text-sm opacity-65">Current time:</span>
  <%= render(UI::Time::Component.new(time: Time.current)) %>
</p>

<p>
  <span class="text-sm opacity-65">Yesterday:</span>
  <%= render(UI::Time::Component.new(time: Time.current - 1.day)) %>
</p>

<p>
  <span class="text-sm opacity-65">Tomorrow:</span>

  <span class="localizeTime">
    <%= render(UI::Time::Component.new(time: Time.current + 1.day)) %>
  </span>
</p>

<p>
  <span class="text-sm opacity-65">One week ago:</span>

  <span class="localizeTime">
    <%= render(UI::Time::Component.new(time: Time.current - 7.days)) %>
  </span>
</p>

<p>
  <span class="text-sm opacity-65">One year ago:</span>

  <span class="localizeTime">
    <%= render(UI::Time::Component.new(time: Time.current - 1.year)) %>
  </span>
</p>

<p>
  <span class="text-sm opacity-65">Yesterday (precise time):</span>

  <span class="localizeTime preciseTime">
    <%= l (Time.current - 1.day), format: :convert_time %>
  </span>
</p>

<p>
  <span class="text-sm opacity-65">One year ago (precise time seconds):</span>

  <span class="localizeTime preciseTimeSeconds">
    <%= l (Time.current - 1.year), format: :convert_time %>
  </span>
</p>
