<div class="relative inline-block" data-controller="dropdown">
  <button
    type="button"
    class="<%= button_classes %>"
    id="<%= button_id %>"
    aria-expanded="false"
    data-action="click->dropdown#toggle"
    data-dropdown-target="button"
  >
    <span class="sr-only">Open <%= @name %> menu</span>
    <%= button_content %>

    <span class="dropdown-chevron inline-block transition-transform duration-200">
      &#9662;
    </span>
  </button>

  <div
    class="
      hidden bg-white dark:bg-gray-800 rounded-lg shadow-lg border
      border-gray-200 dark:border-gray-700 min-w-44 z-50
    "
    data-dropdown-target="menu"
    data-dropdown-placement-value="<%= floating_ui_placement %>"
  >
    <ul role="menu" class="dropdown-menu" aria-labelledby="<%= button_id %>">
      <% entries.each do |entry| %>
        <%= entry %>
      <% end %>
    </ul>
  </div>
</div>
