<h1 class="text-xl mb-4">
  <%= @competition.display_name %>

  <a id="toggleIndividualActivities" class="text-blue-800 underline cursor-pointer text-sm ml-2">
    <span class="toggleActivities-hidden">Show</span>
    <span class="toggleActivities-shown hidden">Hide</span>
    activities
  </a>
</h1>

<style>
  .score-cell { display: none; }
</style>
<div class="relative overflow-x-scroll py-4 -mx-2 xl:-mx-1">
  <div class="relative max-w-full min-w-[1300px] px-1">
    <table class="w-full text-sm text-left text-gray-800" id="competition-table">
      <thead class="text-xs text-gray-500 bg-gray-50 border-2 border-b-gray-400">
        <tr>
          <th scope="col" class="border-r-2 border-r-gray-400"></th>
          <th scope="col" class="text-black border-r-2 border-r-gray-400 lg:hidden">
            <%= render partial: "/landing/total_cell" %>
          </th>
          <% period_count = @competition.periods.count - 1 %>
          <% @competition.periods.each_with_index do |period, inx| %>
            <% border_class = period_count == inx ? "lg:border-r-gray-400" : "" %>
            <th class="border-r-2 <%= border_class %>">
              <span class="block text-md text-center py-2">
                <%= l Date.parse(period[:start_date]), format: :month_date %> - <%= l Date.parse(period[:end_date]), format: :month_date %>
              </span>
              <div class="grid grid-cols-3 min-w-[180px]">
                <div class="px-1 pb-1 border-r elevation-cell text-center">
                  ⬆️
                  <span class="font-normal">
                    <span class="hidden unit-metric">m</span><span class="hidden unit-imperial">feet</span>
                  </span>
                </div>
                <div class="px-1 pb-1 border-r text-center">
                  ➡️
                  <span class="font-normal">
                    <span class="hidden unit-metric">km</span><span class="hidden unit-imperial">miles</span>
                  </span>
                </div>
                <div class="px-1 pb-1 text-center">Days</div>
              </div>
            </th>
          <% end %>
          <th scope="col" class="text-black hidden lg:table-cell">
            <%= render partial: "/landing/total_cell" %>
          </th>
          <th scope="col" class="score-cell border-l">
            <span class="block pt-7">Score</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <% (@competition_users + @competition_users + @competition_users).each_with_index do |competition_user, index| %>
          <tr
            id="competition_user-<%= competition_user.id %>"
            class="border-r-2 border-b-2 odd:bg-white even:bg-gray-100"
          >
            <% cache competition_user do %>
              <%= render partial: "/landing/competition_user_row", locals: {competition_user: competition_user} %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="mt-10">
  <h4 class="text-lg">
    <span class="hidden unit-metric">
      Distance and elevation are in metric.
      <a class="underline cursor-pointer toggleUnitPreference">
        Switch to imperial
      </a>
    </span>
    <span class="hidden unit-imperial">
      Distance and elevation are in imperial.
      <a class="underline cursor-pointer toggleUnitPreference">Switch to metric</a>
    </span>
  </h4>
</div>

<% if StravaRequest.most_recent_update.present? %>
  <small id="strava_requests_updated_at">
    Updated at:
    <span class="convertTime">
      <%= l StravaRequest.most_recent_update, format: :convert_time %>
    </span>
  </small>
<% end %>
