<div data-controller="collapse">
  <div
    id="timeSelectionBtnGroup"
    class="flex flex-wrap justify-end gap-2 <%= "custom-period-selected" if @period == "custom" %>"
    role="group"
  >
    <% if @prepend_text.present? %>
      <span class="mr-2 text-gray-600 dark:text-gray-400 block lg:inline-block">
        <%= @prepend_text %>
      </span>
    <% end %>

    <% visible_periods.each do |p| %>
      <%= render period_button(p[:key]) do %>
        <% if p[:prefix] %>
          <span class="hidden md:inline-block">
            <%= period_label(p[:prefix]) %>
          </span>
        <% end %>

        <%= period_label(p[:label]) %>
      <% end %>
    <% end %>

    <%= render UI::Button::Component.new(
      text: "custom",
      size: :sm,
      active: @period == "custom",
      data: {period: "custom", action: "click->collapse#toggle"}
    ) %>
  </div>

  <%= form_with(
    url: "#",
    method: :get,
    html: {id: "timeSelectionCustom", class: custom_form_classes, "data-collapse-target": "content"}
  ) do |f| %>
    <div class="flex flex-wrap items-center justify-end gap-3">
      <div class="flex items-center gap-2">
        <%= f.label :start_time_selector, "From", class: "m-0" %>

        <%= render Form::Input::Component.new(
          form_builder: f,
          attribute: :start_time_selector,
          kind: :datetime_local_field,
          html_options: {value: @start_time.strftime("%Y-%m-%dT%H:%M"), step: 60}
        ) %>
      </div>

      <div class="flex items-center gap-2">
        <%= f.label :end_time_selector, "To", class: "m-0" %>

        <%= render Form::Input::Component.new(
          form_builder: f,
          attribute: :end_time_selector,
          kind: :datetime_local_field,
          html_options: {value: @end_time.strftime("%Y-%m-%dT%H:%M"), step: 60}
        ) %>
      </div>

      <%= render UI::Button::Component.new(
        text: "Update",
        color: :primary,
        size: :sm,
        kind: :submit
      ) %>
    </div>
  <% end %>
</div>
