<h1 class="mb-4">Edit User</h1>

<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mb-8">
  <%= render(UI::DefinitionList::Component.new) do |list| %>
    <% list.with_entry(label: "Competition") do %>
      <%= link_to @competition_user.competition.display_name.presence || @competition_user.competition.slug, admin_competition_users_path(search_competition_id: @competition_user.competition_id), class: "twlink" %>
    <% end %>

    <% list.with_entry(label: "Created") do %>
      <%= render UI::Time::Component.new(time: @competition_user.created_at) %>
    <% end %>

    <% list.with_entry(label: "Updated") do %>
      <%= render UI::Time::Component.new(time: @competition_user.updated_at) %>
    <% end %>

    <% list.with_entry(label: "Activities") do %>
      <%= number_display(@competition_user.competition_activities.count) %>
    <% end %>

    <% list.with_entry(label: "Activities in competition") do %>
      <%= number_display(@competition_user.competition_activities.included_in_competition.count) %>
    <% end %>
  <% end %>

  <% user = @competition_user.user %>

  <%= render(UI::DefinitionList::Component.new) do |list| %>
    <% list.with_entry(label: "User") { user.display_name } %>

    <% if user.strava_username.present? %>
      <% list.with_entry(label: "Strava") do %>
        <%= link_to user.strava_username, user.strava_user_url, target: "_blank", class: "twlink" %>
      <% end %>
    <% end %>

    <% list.with_entry(label: "Role") { user.role } %>

    <% list.with_entry(label: "Joined") do %>
      <%= render UI::Time::Component.new(time: user.created_at) %>
    <% end %>

    <% list.with_entry(label: "Last sign-in") do %>
      <% if user.last_sign_in_at %>
        <%= render UI::Time::Component.new(time: user.last_sign_in_at) %>
      <% else %>
        <em>never</em>
      <% end %>
    <% end %>

    <% list.with_entry(label: "Sign-in count") { user.sign_in_count } %>

    <% other_competition_users = user.competition_users.where.not(id: @competition_user.id).includes(:competition).start_ordered_desc %>

    <% if other_competition_users.any? %>
      <% list.with_entry(label: "Other competitions") do %>
        <ul>
          <% other_competition_users.each do |cu| %>
            <li>
              <%= link_to cu.competition.display_name.presence || cu.competition.slug, edit_admin_competition_user_path(cu), class: "twlink" %>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  <% end %>
</div>

<%= form_with(model: @competition_user, url: admin_competition_user_path(@competition_user), method: :patch, builder: MayIsBikeMonthFormBuilder, class: "pb-2") do |f| %>
  <%= render partial: "/shared/errors", locals: {obj: @competition_user, name: "User"} %>

  <div class="row sm:grid-cols-2">
    <div class="col">
      <%= render Form::Group::Component.new(form_builder: f, attribute: :display_name, html_options: {required: true}) %>
    </div>

    <div class="col">
      <div class="mb-3">
        <%= f.label :included_in_competition, class: "form-control-check" do %>
          <%= f.check_box :included_in_competition %> Included in competition?
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-row-btn">
    <%= f.submit "save", class: "btn" %>
  </div>
<% end %>
