<%= render(UI::Card::Component.new) do %>
  <%= render(UI::Header::Component.new(text: "Change your password")) %>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put}, builder: MayIsBikeMonthFormBuilder) do |f| %>
    <%= render(UI::AlertForErrors::Component.new(object: resource)) %>
    <%= f.hidden_field :reset_password_token %>

    <div class="mb-4">
      <%= f.label :password, class: Form::Group::Component::LABEL_CLASSES %>
      <%= f.password_field :password, autocomplete: "new-password", class: Form::Input::Component::INPUT_CLASSES %>
      <p class="text-xs mt-1 text-gray-500 dark:text-gray-400">
        <%= @minimum_password_length %> characters minimum
      </p>
    </div>

    <div class="mb-4">
      <%= f.label :password_confirmation, class: Form::Group::Component::LABEL_CLASSES %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: Form::Input::Component::INPUT_CLASSES %>
    </div>

    <%= render(UI::Button::Component.new(text: "Change my password", color: :primary, kind: :submit)) %>
  <% end %>
<% end %>
