<div
  class="
    relative flex items-center gap-4 wrapper-padding mb-2
    bg-purple-100 dark:bg-purple-800 py-2
  "
>
  <span class="hidden md:inline-block text-lg font-semibold">
    May Is Bike Month Admin
  </span>

  <div class="md:hidden">
    <%= render(UI::Dropdown::Component.new(
      name: current_nav_item&.label || "Menu",
      button_color: :link,
      active: current_nav_item.present?
    )) do |d| %>
      <% nav_items.each do |item| %>
        <% d.with_entry_item do %>
          <%= helpers.active_link(item.label, item.path, class: "twlink", match_controller: true) %>
        <% end %>
      <% end %>

      <% d.with_entry_divider do %>
      <% end %>

      <% d.with_entry_item do %>
        <%= button_to "Update Competition", enqueue_update_job_admin_competition_users_path, method: :post %>
      <% end %>
    <% end %>
  </div>

  <div class="hidden md:flex items-center gap-4">
    <% nav_items.each do |item| %>
      <%= helpers.active_link(item.label, item.path, class: "twlink", match_controller: true) %>
    <% end %>

    <%= button_to "Update Competition", enqueue_update_job_admin_competition_users_path, method: :post, class: "twlink" %>
  </div>

  <%= link_to "Exit", root_url, class: "twlink less-strong ml-auto" %>
</div>
