<ul
  class="
    relative flex items-center gap-4 wrapper-padding justify-end mb-2
    bg-purple-100 dark:bg-purple-800 py-2
  "
>
  <span class="hidden md:inline-block text-lg font-semibold">
    May Is Bike Month Admin
  </span>

  <%= helpers.active_link "Competition Users", admin_competition_users_path, class: "twlink ml-2", match_controller: true %>
  <%= helpers.active_link "Competitions", admin_competitions_path, class: "twlink ml-2", match_controller: true %>
  <%= helpers.active_link "Users", admin_users_path, class: "twlink ml-2", match_controller: true %>
  <%= helpers.active_link "Strava Requests", admin_strava_requests_path, class: "twlink ml-2", match_controller: true %>
  <%= link_to "Exit", root_url, class: "twlink ml-auto less-strong" %>
</ul>
