<div class="mb-6" data-controller="admin--current-header">
  <div class="flex justify-between items-baseline mb-4 gap-4">
    <h1><%= title %></h1>

    <div class="flex items-baseline gap-4">
      <%= content if content.present? %>
      <%= link_to "graph", chart_toggle_url, class: chart_toggle_class %>
    </div>
  </div>

  <p class="mb-2">
    <%= number_display(matching_count) %>
    <%= @viewing.singularize.pluralize(matching_count) %>

    <% if @competition_subject.present? %>
      for competition:
      <strong><%= @competition_subject.display_name %></strong>
    <% else %>
      for all competitions
    <% end %>

    <% if @include_competition_select || @competition_subject.present? %>
      <span class="less-strong">
        <em>
          &ndash; view for
          <% if @searchable_competitions.present? && @include_competition_select %>
            <%= select_tag :search_competition_id, options_for_select(@searchable_competitions.map { |s| [s.display_name, s.id] }, @competition_subject&.id), prompt: "Choose competition", class: "cursor-pointer updateOnChange mx-1", "data-updateUrl" => url_for(@s_params.merge(search_competition_id: "UpdateThis")) %>
            <% unless @competition_subject.blank? %>
              or for
            <% end %>
          <% end %>
          <% if @competition_subject.present? %>
            <%= link_to "all competitions", url_for(@s_params.merge(search_competition_id: nil)), class: "twlink" %>
          <% end %>
        </em>
      </span>
    <% end %>
  </p>

  <% if show_user? %>
    <p class="mb-2">
      <%= @viewing %> for user:
      <% if @user_subject.present? %>
        <strong><%= @user_subject.display_name %></strong>
      <% else %>
        <em class="text-rose-600 dark:text-rose-400">
          User "<%= @user_param %>" missing
        </em>
      <% end %>
      <span class="less-strong">
        <em>
          &ndash;
          <%= link_to "view for all users", url_for(@s_params.merge(user: nil)), class: "twlink" %>
        </em>
      </span>
    </p>
  <% end %>

  <% if @render_period && @time_range.present? && @period.present? %>
    <div class="mb-4">
      <%= render(UI::PeriodSelect::Component.new(
        period: @period,
        start_time: @time_range.first,
        end_time: @time_range.last
      )) %>
    </div>
  <% end %>

  <% if render_chart? %>
    <div class="mb-4">
      <%= render(chart_component) %>
    </div>
  <% end %>
</div>
