<div class="mb-6" data-controller="admin--current-header--component">
  <div class="flex justify-between items-baseline mb-4 gap-4">
    <h1><%= title %></h1>

    <div class="flex items-baseline gap-4">
      <%= content if content.present? %>
      <%= link_to "graph", chart_toggle_url, class: chart_toggle_class %>
    </div>
  </div>

  <p class="mb-2">
    <%= @viewing %>

    <% if @competition_subject.present? %>
      for competition:
      <strong><%= @competition_subject.display_name %></strong>
    <% else %>
      for all competitions
    <% end %>

    <% if @include_competition_select || @competition_subject.present? %>
      <span class="less-strong">
        <em>
          &ndash; view for
          <% if @searchable_competitions.present? && @include_competition_select %>
            <%= select_tag :search_competition_id, options_for_select(@searchable_competitions.map { |s| [s.display_name, s.id] }, @competition_subject&.id), prompt: "Choose competition", class: "cursor-pointer updateOnChange mx-1", "data-updateUrl" => url_for(@s_params.merge(search_competition_id: "UpdateThis")) %>
            <% unless @competition_subject.blank? %>
              or for
            <% end %>
          <% end %>
          <% if @competition_subject.present? %>
            <%= link_to "all competitions", url_for(@s_params.merge(search_competition_id: nil)), class: "twlink" %>
          <% end %>
        </em>
      </span>
    <% end %>
  </p>

  <% if render_chart? %>
    <div class="mb-4">
      <%= render(chart_component) %>
    </div>
  <% end %>
</div>
