<h1 class="mb-4">Edit User</h1>

<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mb-8">
  <%= render(UI::DefinitionList::Component.new) do |list| %>
    <% list.with_entry(label: "Joined") do %>
      <%= render UI::Time::Component.new(time: @user.created_at) %>
    <% end %>

    <% list.with_entry(label: "Last sign-in") do %>
      <% if @user.last_sign_in_at %>
        <%= render UI::Time::Component.new(time: @user.last_sign_in_at) %>
      <% else %>
        <em>never</em>
      <% end %>
    <% end %>

    <% list.with_entry(label: "Sign-in count") { @user.sign_in_count } %>

    <% list.with_entry(label: "Role") { @user.role } %>
  <% end %>

  <%= render(UI::DefinitionList::Component.new) do |list| %>
    <% if @user.strava_id.present? %>
      <% list.with_entry(label: "Strava") do %>
        <%= link_to @user.strava_username.presence || @user.strava_id, @user.strava_user_url, target: "_blank", class: "twlink" %>
      <% end %>
    <% end %>

    <% list.with_entry(label: "Competitions") do %>
      <%= link_to number_display(@competition_users.size), admin_competition_users_path(user: @user.slug), class: "twlink" %>
    <% end %>
  <% end %>
</div>

<%= form_with(model: @user, url: admin_user_path(@user), method: :patch, builder: MayIsBikeMonthFormBuilder, class: "pb-2") do |f| %>
  <%= render partial: "/shared/errors", locals: {obj: @user, name: "User"} %>

  <div class="row sm:grid-cols-2">
    <div class="col">
      <%= render Form::Group::Component.new(form_builder: f, attribute: :display_name, html_options: {required: true}) %>
    </div>

    <div class="col">
      <div class="mb-4">
        <%= f.label :role, class: "twlabel" %>
        <%= f.select :role, User.roles.keys.map { |r| [r.humanize, r] }, {}, class: "twinput" %>
      </div>
    </div>
  </div>

  <div class="form-row-btn">
    <%= f.submit "save", class: "btn" %>
  </div>
<% end %>

<% if @competition_users.any? %>
  <h2 class="mt-8 mb-4 text-lg font-semibold">Competitions</h2>
  <%= render partial: "admin/competition_users/table", locals: {
    competition_users: @competition_users,
    include_competition: true,
    render_sortable: false
  } %>
<% end %>
