<nav
  class="flex w-full items-center justify-center -space-x-px <%= size_classes %>"
  aria-label="<%= pagy_t('pagy.aria_label.nav', count: @pagy.pages) %>"
>
  <% if show_previous %>
    <%= prev_html %>
  <% end %>

  <% pagy_series.each do |item| %>
    <%= pagy_series_link(item) %>
  <% end %>

  <% if show_next %>
    <%= next_html %>
  <% end %>
</nav>
