<%= form_with model: @competition, url: admin_competitions_path, local: true, builder: MayIsBikeMonthFormBuilder, class: "space-y-2" do |form| %>
  <% if @competition.errors.any? %>
    <%= render partial: "shared/errors", locals: {obj: @competition} %>
  <% end %>

  <%= render(Form::Group::Component.new(form_builder: form, attribute: :display_name, html_options: {placeholder: "MIBM #{Time.current.year} (defaulted from start date)"})) %>

  <%= render(Form::Group::Component.new(form_builder: form, attribute: :start_date, kind: :date_field, html_options: {required: true})) %>

  <%= render(Form::Group::Component.new(form_builder: form, attribute: :current, kind: :check_box, label_text: "Current Competition")) %>

  <div class="pt-4">
    <%= form.submit class: "w-full btn" %>
  </div>
<% end %>
