<h1 class="standard-top-offset mb-4">
  Admin Competitions
</h1>

<%= render(Admin::CurrentHeader::Component.new(viewing: controller_name.humanize, competition_subject:, searchable_competitions:, render_period: false, s_params: sortable_params)) %>

<% skip_sortable ||= false %>

<div class="full-screen-table mb-4">
  <table class="table table-sm table-bordered">
    <thead class="sortable">
      <tr>
        <th>
          <%= sortable "start_date", skip_sortable: skip_sortable %>
        </th>
        <th>
          <%= sortable "end_date", skip_sortable: skip_sortable %>
        </th>
        <th>
          <%= sortable "display_name", skip_sortable: skip_sortable %>
        </th>
        <th>Current?</th>
        <th>
          <small><%= sortable "created_at", skip_sortable: skip_sortable %></small>
        </th>
        <% if display_dev_info? %>
          <th class="only-dev-visible">
            <small><%= sortable "updated_at", skip_sortable: skip_sortable %></small>
          </th>
        <% end %>

        <th>Users included</th>
        <th>
          <small class="text-gray-800">Users excluded</small>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @competitions.each do |competition| %>
        <tr class="odd:bg-white even:bg-gray-100">
          <td>
            <%= competition.start_date %>
            <% if display_dev_info? %><code class="only-dev-visible-small"><%= competition.id %></code><% end %>
          </td>
          <td>
            <% if competition.start_date.year == competition.end_date.year %>
              <%= l competition.end_date, format: :month_date %>
            <% else %>
              <%= competition.end_date %>
            <% end %>
          </td>
          <td>
            <%= competition.display_name %>
            <code class="only-dev-visible-small"><%= competition.slug %></code>
          </td>
          <td class="table-cell-check">
            <%= check_mark if competition.current %>
          </td>
          <td>
            <small class="convertTime"><%= l(competition.created_at, format: :convert_time) %></small>
          </td>
          <% if display_dev_info? %>
            <td>
              <small class="convertTime"><%= l(competition.updated_at, format: :convert_time) %></small>
            </td>
          <% end %>
          <td>
            <%= link_to number_display(competition.competition_users_included.count), admin_competition_users_path(search_competition_id: competition.slug), class: "base-link" %>

          </td>
          <td><%= number_display(competition.competition_users_excluded.count) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
