<!DOCTYPE html>

<html>
  <head>
    <title><%= page_title %></title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="May is Bike Month">
    <meta name="mobile-web-app-capable" content="yes">

    <%= tag.meta name: "honeybadger-api-key", content: ENV["HONEYBADGER_API_KEY"] %>
    <%= tag.meta name: "honeybadger-environment", content: Rails.env %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <% if Rails.env.development? %>
      <link href="/favicon-dev.ico" rel="icon" sizes="192x192">
      <%= stylesheet_link_tag :app %>
      <%= hotwire_livereload_tags %>
    <% else %>
      <link href="/favicon.ico" rel="icon" sizes="192x192">
      <link
        rel="apple-touch-icon-precomposed apple-touch-icon"
        href="/apple-touch-icon.png"
      >
      <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <% end %>

    <%= javascript_importmap_tags %>

    <% unless display_dev_info? %>
      <style>
        .only-dev-visible {display: none !important;}
      </style>
    <% end %>
  </head>

  <body class="bg-white dark:bg-gray-900 antialiased dark:text-gray-100">
    <!--

  Source Code:

  github.com/MayIsBikeMonth/may_is_bike_month

  -->
    <%= render(UserDropdown::Component.new(current_user:, in_admin: in_admin?)) %>

    <div class="<%= @skip_wrapper_class ? "" : "wrapper-class" %>">
      <%= yield %>
    </div>

    <div
      class="
        fixed bottom-4 left-0 right-0 z-50 max-w-screen-xl mx-auto px-4
        pointer-events-none
      "
    >
      <div class="max-w-xs space-y-2 pointer-events-auto">
        <% flash.each do |type, message| %>
          <% next unless message.is_a?(String) %>
          <% kind = %w[alert error].include?(type.to_s) ? :error : :notice %>

          <%= render UI::Alert::Component.new(text: message, kind:, dismissable: true, margin_classes: "mb-0") %>
        <% end %>
      </div>
    </div>

    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-63Y0BHVCS8"
    ></script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-63Y0BHVCS8');
    </script>
  </body>
</html>
