<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <% if Rails.env.development? %>
      <link href="/favicon-dev.ico" rel="icon" sizes="192x192">
      <%= hotwire_livereload_tags %>
    <% else %>
      <link href="/favicon.ico" rel="icon" sizes="192x192">
      <link rel="apple-touch-icon-precomposed apple-touch-icon" href="/apple-touch-icon.png" />
    <% end %>
  </head>

  <body class="bg-white antialiased">
    <ul class="relative z-10 flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end mt-1 mb-2">
      <% if current_user.present? %>
        <li>Hi <%= current_user.display_name %></li>
        <li>
          <%= button_to "logout", destroy_user_session_path, method: :delete, data: {turbo: false}  %>
        </li>
      <% else %>
        <li>
          <%= button_to "Sign in", user_strava_omniauth_authorize_path, method: :post, data: { turbo: false } %>
        </li>
      <% end %>
    </ul>
    <div class="px-2 xl:px-4 pb-20 pt-4">
      <%= yield %>
    </div>
  </body>
</html>
