<!DOCTYPE html>

<html>
  <head>
    <title><%= page_title %></title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="May is Bike Month">
    <meta name="mobile-web-app-capable" content="yes">

    <%= tag.meta name: "honeybadger-api-key", content: ENV["HONEYBADGER_API_KEY"] %>
    <%= tag.meta name: "honeybadger-environment", content: Rails.env %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;700&family=IBM+Plex+Sans:wght@300;500;700&display=swap"
      rel="stylesheet"
    >

    <%= yield :head %>

    <% if Rails.env.development? %>
      <link href="/favicon-dev.ico" rel="icon" sizes="192x192">
      <%= stylesheet_link_tag :app %>
      <%= hotwire_livereload_tags %>
    <% else %>
      <link href="/favicon.ico" rel="icon" sizes="192x192">
      <link
        rel="apple-touch-icon-precomposed apple-touch-icon"
        href="/apple-touch-icon.png"
      >
      <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <% end %>

    <%= javascript_importmap_tags %>

    <% unless display_dev_info? %>
      <style>
        .only-dev-visible {display: none !important;}
      </style>
    <% end %>
  </head>

  <body class="min-h-screen">
    <!--

  Source Code:

  github.com/MayIsBikeMonth/may_is_bike_month

  -->
    <%= render(SettingsModal::Component.new(current_user:)) %>

    <% if in_admin? %>
      <%= render(Navbar::Component.new(current_user:)) %>
    <% else %>
      <%= render(UserDropdown::Component.new(current_user:)) %>
    <% end %>

    <div class="<%= "px-4 pb-10 pt-4" if in_admin? %>">
      <%= yield %>
    </div>

    <%= render Alerts::FlashMessages::Component.new(flash:) %>

    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-63Y0BHVCS8"
    ></script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-63Y0BHVCS8');
    </script>
  </body>
</html>
