<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <% if Rails.env.development? %>
      <link href="/favicon-dev.ico" rel="icon" sizes="192x192">
      <%= hotwire_livereload_tags %>
    <% else %>
      <link href="/favicon.ico" rel="icon" sizes="192x192">
      <link rel="apple-touch-icon-precomposed apple-touch-icon" href="/apple-touch-icon.png" />
    <% end %>
    <% unless display_dev_info? %>
      <style>
        .only-dev-visible {display: none !important;}
      </style>
    <% end %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-white antialiased">
    <!--

    Source Code:

    github.com/MayIsBikeMonth/may_is_bike_month

  -->
    <ul class="relative z-10 flex items-center gap-4 px-2 lg:px-4 justify-end mt-1 mb-2">
      <% if current_user.blank? %>
        <li>
          <%= button_to "Sign in", user_strava_omniauth_authorize_path, method: :post, data: { turbo: false } %>
        </li>
      <% elsif in_admin? %>
        <span class="hidden sm:inline-block ml-2 text-lg font-semibold">May Is Bike Month Admin</span>
        <%= active_link "Competition Users", admin_competition_users_path, class: "base-link ml-2", match_controller: true %>
        <%= active_link "Competitions", admin_competitions_path, class: "base-link ml-2", match_controller: true %>
        <%= link_to "Exit", user_root_url, class: "base-link ml-auto less-strong" %>
      <% else %>
        <% if current_user.admin_access? %>
          <%= link_to "admin", admin_root_path, class: "mr-4 base-link" %>
        <% end %>
        <li>Hi <%= current_user.display_name %></li>
        <li>
          <%= button_to "logout", destroy_user_session_path, method: :delete, data: {turbo: false}, class: "base-link"%>
        </li>

      <% end %>
    </ul>
    <div class="px-2 xl:px-4 pb-20 pt-4">
      <%= yield %>
    </div>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-63Y0BHVCS8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-63Y0BHVCS8');
    </script>
  </body>
</html>
